.canvas {
    border: solid 2px blue;
    width: 280px;
    height: 280px;
}
.clear-button {
    width: 100px;
    height: 30px;
    background-color: rgb(253, 16, 16);
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
}
.clear-button:active{
    border:1px solid #334c66;
    background-color: rgb(131, 4, 25);
    color:#e0ebf5;
}

.send-button {
    width: 100px;
    height: 30px;
    background-color: rgb(3, 185, 3);
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
}
.send-button:active{
    border:1px solid #334c66;
    background-color: rgb(4, 143, 22);
    color:#e0ebf5;
}

.answer {
    color: red;
    font-size: 20px;
}
